footer {
  background-color: $dark-blue;
  font-family: $text;

  h2 {
    color: whitesmoke;
    padding: 2em 6em;
    font-size: 1.2em;
  }

  #parent {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
