html {
  scroll-behavior: smooth;
  scroll-padding: 10em;
  scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

#content {
  #id {
    position: absolute;
  }

  #map {
    position: fixed;
  }
}

@import "scss/fonts";
@import "scss/colors";
@import "scss/transition";

@import "scss/map";
@import "scss/timeline";
@import "scss/header";
@import "scss/footer";
@import "scss/paths";

.flip-device {
  width: 100%;
  height: 100%;
  background: $red;
  color: white;
  position: fixed;
  display: grid;
  place-items: center;
  font-family: $text;
  visibility: hidden;

  h1 {
    font-size: 2rem;
  }
}

@import "scss/breakpoints";
