:root{
    --circle-delay: .2s;
}

$heading-text-delay: .3s;

#Layer_1>* {
    scroll-snap-align: start;
}

[data-name="infobox"] {
    transform-origin: 0% 53%;
    transform-box: fill-box;
    transform: scale(0);
    transition: transform .4s;
    user-select: none;

    [data-name="headline-text"] {
        opacity: 0;
        transition: opacity .3s;
        h1 {
            margin: 0;
            margin-top: .5rem;
            color:white;
        }
        h2 {
            margin: 0;
            font-size: .9rem;
            color:white;
        }
        
    }
    .body-text {
        opacity: 0;
        transition: opacity .3s;
    }

        .circle {
            opacity: 0;
            transition: opacity var(--circle-delay);
        }

 &.selected {
    transform: scale(1);
    transition: transform .4s;
    
    [data-name="headline-text"] {
        opacity: 1;
        transition: opacity .3s;
        transition-delay: $heading-text-delay;
    }

    .body-text {
        opacity: 1;
        transition: opacity .3s;
        transition-delay: $heading-text-delay + .1s;
    }
        .circles>* {
            opacity: 1;
            transition: opacity var(--circle-delay);
            transition-delay: calc(var(--i) * var(--circle-delay));
        }
}

}

